.widgets
{
    flex: 0.3;
}

.widgets__input
{
    display: flex;
    align-items: center;
    background-color: var(--twitter-background-color);
    padding: 10px;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 20px;
}

.widgets__input > input
{
    border: none;
    background-color: var(--twitter-background-color);
    font-size: 15px;
}

.widgets__searchIcon
{
    color: gray;
}

.widgets__container
{
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 50px;
}

.widgets__container > h2
{
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 10px;

}